# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# config， update skybox， shader， texture
/TinyEngine/vendor/*
/TinyEngine/Debug/*
/TinyEngine/.vs/*
#/TinyEngine/res/cerberus*
#/TinyEngine/res/Chess*
#/TinyEngine/res/gameboy*
#/TinyEngine/res/vikingsword*
/TinyEngine/res/Sponza*